{% extends "base.html" %}
{% block content %}
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">

            <div class="checkout__form">
                <h4>Регистрация Заказа</h4>
                {# <form action="#"> #}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <form action="." method="post" class="order-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <label for="">Имя</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <label for="">Фамилия</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <label for="">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="checkout__input">
                                    <label for="">Адресс</label>
                                    {{ form.address }}
                                </div>
                                <div class="checkout__input">
                                    <label for="">Город</label>
                                    {{ form.city }}
                                </div>
                                <div class="checkout__input">
                                    <label for="">Индекс</label>
                                    {{ form.postal_code }}
                                </div>
                                <button type="submit" class="site-btn">Отправить Заказ</button>
                            </form>
                        </div>


                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">

                                <h4>Ваш Заказ:</h4>
                                <div class="checkout__order__products">Товары <span>Сумма</span></div>
                                <ul>
                                    {% for item in cart %}
                                        <li>
                                            {{ item.quantity }}x {{ item.product.name }}
                                            <span> ${{ item.total_price|floatformat:"2" }}</span>
                                        </li>
                                    {% endfor %}
                                    {% if cart.coupon %}
                                        <li>
                                            "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}%)
                                            <span>- {{ cart.get_discount|floatformat:"2" }} UAH</span>
                                        </li>
                                    {% endif %}
                                </ul>

                                <div class="checkout__order__total">
                                    Всего <span>{{ cart.get_total_price_after_discount|floatformat:"2" }} UAH</span>
                                </div>

                            </div>
                        </div>


                    </div>
                {# </form> #}
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock content %}
