{% extends "base.html" %}

{% block title %}Meliero | Contact us{% endblock title %}

{% block content %}
    {% if messages %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Телефон</h4>
                        <p>+3 8099 121 83 52</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Адресс</h4>
                        <p>г.Харьков, улица Примеровская 25</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Время работы</h4>
                        <p>с 10:00 до 23:00</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>bayjel13@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Форма для связи</h2>
                    </div>
                </div>
            </div>
            <form action="." method="post">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <label>Email</label>
                        {{ form.from_email }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <label>Имя</label>
                        {{ form.subject }}
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <label>Сообщение</label>
                        {{ form.message }}
                        <button type="submit" class="site-btn">Отправить</button>
                    </div>
                    {% csrf_token %}
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->

{% endblock content %}
