<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <h2>Meliero shop</h2>
    </div>
    <div class="humberger__menu__cart">
        {% with total_items=cart|length %}
            {# {% if cart|length > 0 %} #}
            <ul>
                <li><a href="{% url "cart:cart_detail" %}"><i class="fa fa-shopping-bag"></i> <span>{{ total_items }}</span></a></li>
            </ul>
            <div class="header__cart__price"><span>${{ cart.get_total_price }}</span></div>
            {# {% endif %} #}
        {% endwith %}
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="./shop-grid.html">Магазин</a></li>
            <li><a href="./blog.html">Доставка</a></li>
            <li><a href="./contact.html">Контакты</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> bayjel13@gmail.com</li>
            <li>Скидка 15% при покупке от 500 UAH</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
