{% include 'mobile_navbar.html' %}

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> bayjel13@gmail.com</li>
                            <li>Скидка 15% на покупку от 500 UAH</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-telegram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <h2>Meliero shop</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="{% url 'shop:home_page' %}">Главная</a></li>
                        <li><a href="{% url 'shop:product_list' %}">Магазин</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="{% url "contacts:contact" %}">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    {% with total_items=cart|length %}
                        <ul>
                            <li><a href="{% url "cart:cart_detail" %}"><i class="fa fa-shopping-bag"></i> <span>{{ total_items }}</span></a></li>
                        </ul>
                        <div class="header__cart__price"><span>{{ cart.get_total_price }} UAH</span></div>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
{% load shop_tags %}
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Категории</span>
                    </div>
                    <ul>
                        <li><a href="{% url 'shop:product_list' %}">Все</a></li>
                        {% get_categories as categories %}
                        {% for c in categories %}
                            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="{% url 'searches:search' %}">
                            <input type="text" name="q" placeholder="Введите название...">
                            <button type="submit" class="site-btn">ПОИСК</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+38 099 111 22 33</h5>
                            <span>Техподдержка 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
